th{
    font-size: 20px;
    border: solid black 2px;
    background: lightgreen;
}
th:hover{
    background: white;
}
img:hover{
    border: solid red 5px;
}
/* Strona główna */
.container{
   
    display: grid;
    height: 110vh;
    width: 100%;
    grid-template-columns: 1fr  10fr 2fr;
    grid-template-rows: 1fr  4fr  1fr;
    grid-template-areas: 
    "header header buttons"
    "sidebar main main"
    "footer footer footer"
    ;
}
.buttons{
    grid-area: buttons;
    background:lightblue ;
    
}
.button_j{
    margin: 10px;
}
.button_c{
    margin: 10px;
}
.Wybierz{
    margin: 10px;
}
.galeria{
    font-size: 25px;
}
.header{
    background: #add8e6;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.main{
    grid-area: main ;
    background: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
}
.sidebar{
    grid-area: sidebar;
    background: #90ee90 ;
}
.footer{
    background: #ffdead;
    grid-area: footer;
}
.linki{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 10px;
    background:lightgrey;
    width: 150px;
    margin-top: 10px;
    font-size: 15px;
}
.tabela{
    border: solid black 2px;
    font-size:  5vh;
    

}


/* Zdięcia samochodów */
.container_samochody{
    display: grid;
    height: 162vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:   4.6fr 2fr 2fr ;
    grid-template-areas: 
    
    "obrazki_s ferrari"
    "obrazki_s BMW"
    "obrazki_s Audi"
    ;
}

.margines{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.obrazki_s{
    grid-area: obrazki_s;
    background: lightgreen;
    
}
.ferrari{
    background: lightcoral;
    grid-area: ferrari;
    
}
.BMW{
    background: lightskyblue;
    grid-area: BMW;
}
.Audi{
    background: lime;
    grid-area: Audi;
}
.tabela_av{
    
    display: flex;
    justify-content: center;
    margin-top: 27vh;
    margin-right: 40%;
}
.col_av{
    background: chartreuse;
    border: solid black 2px;
    font-size: 40px;
    
}
.col_av:hover{
    background: white;
}
.tabela_it{
    
    display: flex;
    justify-content: center;
    margin-top: 23vh;
    margin-right: 40%;
}
.col_it{
    background: chartreuse;
    border: solid black 2px;
    font-size: 40px;
}
.col_it:hover{
    background: white;
}
.tabela_BMW{
    
    display: flex;
    justify-content: center;
    margin-top: 13vh;
    margin-right: 40%;
}

.col_BMW{
    background: burlywood;
    border: solid black 2px;
    font-size: 40px;
}
.col_BMW:hover{
    background: white;
}
.tabela_au{
    
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-right: 30%;
}

.col_au{
    background: dimgrey;
    border: solid black 2px;
    font-size: 40px;
}
.col_au:hover{
    background: white;
}
.linki_s{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 10px;
    background:lightgrey;
    margin-left: 150px;
}
/* Zdięcia Gór */
.container_g{
    display: grid;
    height: 150vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:   1fr 1fr 1fr ;
    grid-template-areas: 
    
    "obrazki_G tabela_g1"
    "obrazki_G tabela_g2"
    "obrazki_G tabela_g3"
    ;
}
.obrazki_G{
    background: goldenrod;
    grid-area: obrazki_G;
}
.tabela_g1{
    background: greenyellow;
    grid-area: tabela_g1;
}
.tabela_g2{
    background: rgb(54, 75, 23);
    grid-area: tabela_g2;
}
.tabela_g3{
    background: rgb(36, 43, 141);
    grid-area: tabela_g3;
}
/* Zdięcia Miast */
.container_M{
    display: grid;
    height: 150vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:   1fr 1fr 1fr ;
    grid-template-areas: 
    
    "obrazki_m tabela_m1"
    "obrazki_m tabela_m2"
    "obrazki_m tabela_m3"
    ;
}
.obrazki_M{
    background: goldenrod;
    grid-area: obrazki_m;
}
.tabela_m1{
    background: greenyellow;
    grid-area: tabela_m1;
}
.tabela_m2{
    background: rgb(54, 75, 23);
    grid-area: tabela_m2;
}
.tabela_m3{
    background: rgb(36, 43, 141);
    grid-area: tabela_m3;
}